
@{
    ViewBag.Title = "Add a job advertisement";
}

<h2>AddJob</h2>

<form>
    Job title:<br>
    <input type="text" name="title">
    <br>
    Job Description:<br>
    <input type="text" name="jobDescription"><br>
    Salary:<br>
    <input type="text" name="salary"><br>
    Working hours:<br>
    <input type="text" name="workingHours"><br>
    Job Date:<br>
    <input type="text" name="jobDate"><br>
    Attachments:<br>
    <input type="text" name="attachments"><br>
    Skill:<br>
    <input type="text" name="skill"><br>
    Exp:<br>
    <input type="text" name="exp"><br>
    Skill:<br>
    <input type="text" name="skill"><br>



</form>